In [1]:
import os
import pandas as pd

print("üìç Working directory:", os.getcwd())

DATA_DIR = os.path.join("..", "data", "processed")

ARIMA_PATH   = os.path.join(DATA_DIR, "arima_all_coins.csv")
SARIMA_PATH  = os.path.join(DATA_DIR, "sarima_all_coins.csv")
PROPHET_PATH = os.path.join(DATA_DIR, "prophet_all_coins.csv")
LSTM_PATH    = os.path.join(DATA_DIR, "lstm_all_coins.csv")
LIVE_PATH    = os.path.join(DATA_DIR, "live_crypto_data.csv")

FINAL_PATH   = os.path.join(DATA_DIR, "final_crypto_forecast_master.csv")

üìç Working directory: O:\Crypto time series analysis\notebooks

In [2]:
import pandas as pd

arima_df   = pd.read_csv("arima_all_coins.csv")
sarima_df  = pd.read_csv("sarima_all_coins.csv")
prophet_df = pd.read_csv("prophet_all_coins.csv")
lstm_df    = pd.read_csv("lstm_all_coins.csv")
live_df    = pd.read_csv("live_crypto_data.csv")

print("‚úÖ All forecast files loaded")

‚úÖ All forecast files loaded

In [3]:
def clean(df):
    df.columns = df.columns.str.lower()
    df["date"] = pd.to_datetime(df["date"])
    return df[["date", "crypto", "forecast_price", "model"]]

arima_df   = clean(arima_df)
sarima_df  = clean(sarima_df)
prophet_df = clean(prophet_df)
lstm_df    = clean(lstm_df)
live_df    = clean(live_df)

print("‚úÖ Columns standardized")

‚úÖ Columns standardized

In [4]:
prophet_df = prophet_df.rename(columns={
    "ds": "date",
    "yhat": "forecast_price"
})

prophet_df["crypto"] = "BTC"
prophet_df["model"] = "PROPHET"
prophet_df = prophet_df[["date", "crypto", "forecast_price", "model"]]

In [5]:
final_df = pd.concat(
    [arima_df, sarima_df, prophet_df, lstm_df, live_df],
    ignore_index=True
)

final_df.sort_values(["crypto", "date", "model"], inplace=True)
final_df.head()

                             date crypto  forecast_price   model
0   1970-01-01 00:00:00.000000429    ADA        0.835739   ARIMA
300 1970-01-01 00:00:00.000000429    ADA        0.855549  SARIMA
1   1970-01-01 00:00:00.000000430    ADA        0.833490   ARIMA
301 1970-01-01 00:00:00.000000430    ADA        0.843968  SARIMA
2   1970-01-01 00:00:00.000000431    ADA        0.835139   ARIMA

In [6]:
print("Coins:", final_df["crypto"].unique())
print("Models:", final_df["model"].unique())
print("Missing values:\n", final_df.isna().sum())
print("Total rows:", len(final_df))

Coins: ['ADA' 'BCH' 'BNB' 'BTC' 'DOGE' 'DOT' 'ETH' 'LTC' 'SOL' 'XRP']
Models: ['ARIMA' 'SARIMA' 'LSTM' 'LIVE' 'PROPHET']
Missing values:
 date              0
crypto            0
forecast_price    0
model             0
dtype: int64
Total rows: 1210

In [7]:
final_df.to_csv("final_crypto_forecast_master.csv", index=False)
print("‚úÖ final_crypto_forecast_master.csv created")

‚úÖ final_crypto_forecast_master.csv created

In [8]:
final_df.head()

                             date crypto  forecast_price   model
0   1970-01-01 00:00:00.000000429    ADA        0.835739   ARIMA
300 1970-01-01 00:00:00.000000429    ADA        0.855549  SARIMA
1   1970-01-01 00:00:00.000000430    ADA        0.833490   ARIMA
301 1970-01-01 00:00:00.000000430    ADA        0.843968  SARIMA
2   1970-01-01 00:00:00.000000431    ADA        0.835139   ARIMA

In [9]:
final_df.tail()

                           date crypto  forecast_price model
1196 2022-04-02 00:00:00.000000    XRP        0.772784  LSTM
1197 2022-04-03 00:00:00.000000    XRP        0.773313  LSTM
1198 2022-04-04 00:00:00.000000    XRP        0.773799  LSTM
1199 2022-04-05 00:00:00.000000    XRP        0.774250  LSTM
1205 2026-01-28 16:55:41.484902    XRP        1.925700  LIVE